# PostgreSQL connection string (Supabase or any Postgres)
DATABASE_URL=postgresql://postgres:your-password@your-host:5432/postgres

# Used to encrypt JWT tokens
PAYLOAD_SECRET=YOUR_SECRET_HERE

# Used to configure CORS, format links and more. No trailing slash
NEXT_PUBLIC_SERVER_URL=http://localhost:3000
